*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: #183553;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.header{
    position: relative;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h1{
    font-size: 5rem;
    font-family: cursive;
}
.errors{
    color: #f00;
}
.errors::before{
    content: "Intentos Fallidos ";
}

.cronometro{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.7rem;
    color: white;
    font-family: roboto;
}
.main{
    display: none;
}
.numbers{
    display: flex;
    margin-top: 10px;
    background: black;
    width: 100%;
    height: 80px;
}
.numbers div{
    cursor: pointer;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: calc(500px / 9);
    height: 100%;
}
.number-selected{
    background: white;
    color: black !important;
}

/* .R1{background: rgb(255, 255, 255);}
.R2{background: rgb(200, 200, 200);}
.R3{background: rgb(255, 250, 232);}
.R4{background: rgb(255, 248, 236);}
.R5{background: rgb(243, 229, 229);}
.R6{background: rgb(200, 200, 200);}
.R7{background: rgb(229, 229, 229);}
.R8{background: rgb(188, 188, 188);}
.R9{background: rgb(155, 155, 165);} */

.contain-game .colorFilaColumna,.contain-game .colorRegion{
    background: #d2eaf7;
}
.contain-game .colorNumRepetido{
    background: #aac9fb;
}

.messageLoser{
    width: 500px;
    height: 500px;
    background: linear-gradient(#00f,#0ff);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    color: #e5e5e5;
}
.messageLoser div{
    width: 90%;
    text-align: start;
    font-size: 1.8em;
}
.messageLoser button{
    cursor: pointer;
    width: 50%;
    height: 40px;
    font-size: 1.1em;
    background: #ededed;
    transition: background,border-radius .5s;
}
.messageLoser button:hover{
    background: #a5a5a5;
    border-radius: 15px;
}


.btn-start-game{
    padding: 15px 20px;
    font-size: 1.5rem;
    margin-top: 50px;
    cursor: pointer;
}